anndata
session-info
squidpy
pyensembl==2.3.13
torch>=2.5.1
pytorch-lightning>=2.0.0
numpy==1.26.4
scikit-learn>=1.2.0
scipy>=1.10.0
pandas==1.5.3
pyyaml>=6.0
typing-extensions>=4.0.0
merlin-core>=23.8.0
merlin-dataloader>=23.8.0
dask>=2024.1.1
dask-cuda>=24.2.0
torchmetrics>=1.4.0
torchvision>=0.18.0
wandb>=0.17.0
numba>=0.59.0
cloudpickle>=3.0.0